{% extends "base.html" %}

{% block title %}Help - Magic Formula Investing{% endblock %}

 {% block page_content %}
 <div class='help'>
   <div class='header'>
     <h1 class='title'>神奇公式筛股器<br/><br/></h1>
     <p class='description'>利用乔尔·格林布拉特在《股市稳赚》提出的神奇公式。代入中国上市公司财报数据，计算综合排名，筛选出质优价低的股票，供你选择。<br/><br/></p>
   </div>

   <div class='row'>
     <div class='col-sm-8 main'>
       <h2 class='title'>神奇公式原理<br/><br/></h2>
       <p class='description'>利用投资回报率选出优质公式，利用收益率选出低价格。将两者结合获得质优价低的股票。再从中选取多支不同类型股票，分散风险获取最大收益。<br/><br/></p>
       <p>此种方法有两大特点，一是选取多样性的股票组合；二是长期持有（至少持有12个月）。<br/><br/></p>
       <p>神奇公式相比较于传统选股，最为突出优点是较高的收益率和稳定的收益率。<br/><br/></p>
       <hr><br/>

       <h2 class='title'>使用方法<br/><br/></h2>
       <h3>Step 1<br/></h3>
       <p>登录荐股页面，查看综合排名前 30 的股票。（该排名是根据深沪A股最近一期报表计算的综合排名：例如，现在是 2017.3.6，最近一期报表是 2016 年的 3 季度报表）。<br/></p>
       <h3>Step 2<br/></h3>
       <p>用你全部投资金额的 20% ~ 33%，购买入排名靠前的 5~7 支股票，建议避免行业重复。若你资金充裕也可一次买入全部 30 支股票。<br/></p>
       <h3>Step 3<br/></h3>
       <p>每隔三个月重复第 2 步，直到投入你所有的投资资金。<br/></p>
       <h3>Step 4<br/></h3>
       <p>第一批买入的股票持有期满一年后，将其卖出。然后回到第 1 步，再次买入神奇公式推荐的股票。将此过程坚持至少 3~5 年。<br/><br/></p>
       <hr><br/>


       <h2 class='title'>注意！<br/><br/></h2>
       <p class='description'>历史已证明神奇公式非常有效，但不能保证将来永远有效。股市有风险，投资需谨慎。</p><br/><br/>
     </div>

     <div class='col-sm-3 col-sm-offset-1 sidebar'>
       <div class='sidebar-module'>
         <p>
           <a href='https://www.amazon.com/Little-Still-Market-Books-Profits/dp/0470624159/ref=sr_1_1?ie=UTF8&s=books&qid=1284643589&sr=8-1' target="_blank">
           <img border='0' src='http://ol54chb9n.bkt.clouddn.com/little_book.png' width='274' height='388' />
         </a>
         </p>
       </div>
     </div>
   </div>
</div>
{% endblock %}
