{% extends "base.html" %}

{% block title %}Stocks - Magic Formula Investing{% endblock %}

 {% block page_content %}
 {% if current_user.is_authenticated %}
 <div class='stocks'>

      <h2 class="page-header">神奇公式股票列表</h2>
      <p>2016 三季报</p>

      <div class="table table-bordered">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>证券代码</th>
                <th>证券名称</th>
                <th>行业</th>
                <th>好公司</th>
                <th>好价格</th>
                <th>神奇公式排名</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>000625</td>
                <td>长安汽车</td>
                <td>交运设备</td>
                <td>3.26(21)</td>
                <td>2.23(15)</td>
                <td>36(1)</td>
              </tr>
              <tr>
                <td>600377</td>
                <td>宁沪高速</td>
                <td>房地产</td>
                <td>5.06(6)</td>
                <td>0.60(61)</td>
                <td>67(2)</td>
              </tr>
              <tr>
                <td>600104</td>
                <td>上汽集团</td>
                <td>交运设备</td>
                <td>1.10(57)</td>
                <td>1.40(28)</td>
                <td>85(3)</td>
              </tr>
              <tr>
                <td>000900</td>
                <td>现代投资</td>
                <td>交运设备</td>
                <td>0.75(78)</td>
                <td>2.35(13)</td>
                <td>91(4)</td>
              </tr>
              <tr>
                <td>600835</td>
                <td>上海机电</td>
                <td>机械设备</td>
                <td>1.39(46)</td>
                <td>0.71(51)</td>
                <td>97(5)</td>
              </tr>
              <tr>
                <td>000333</td>
                <td>美的集团</td>
                <td>家电</td>
                <td>0.97(63)</td>
                <td>0.87(40)</td>
                <td>103(6)</td>
              </tr>
              <tr>
                <td>600064</td>
                <td>南京高科</td>
                <td>房地产</td>
                <td>0.72(84)</td>
                <td>1.56(25)</td>
                <td>109(7)</td>
              </tr>
              <tr>
                <td>600730</td>
                <td>中国高科</td>
                <td>综合</td>
                <td>1.09(58)</td>
                <td>0.62(57)</td>
                <td>115(8)</td>
              </tr>
              <tr>
                <td>600723</td>
                <td>首商股份</td>
                <td>商贸零售</td>
                <td>0.72(85)</td>
                <td>0.94(36)</td>
                <td>121(9)</td>
              </tr>
              <tr>
                <td>600741</td>
                <td>华域汽车</td>
                <td>交通运输</td>
                <td>32.07(3)</td>
                <td>0.28(127)</td>
                <td>130(10)</td>
              </tr>
              <tr>
                <td>600240</td>
                <td>华业资本</td>
                <td>房地产</td>
                <td>3.43(18)</td>
                <td>0.30(117)</td>
                <td>135(11)</td>
              </tr>
              <tr>
                <td>000936</td>
                <td>华西股份</td>
                <td>基础化工</td>
                <td>0.94(65)</td>
                <td>0.34(107)</td>
                <td>172(12)</td>
              </tr>
              <tr>
                <td>600894</td>
                <td>广日股份</td>
                <td>机械设备</td>
                <td>0.61(110)</td>
                <td>0.58(62)</td>
                <td>172(13)</td>
              </tr>
              <tr>
                <td>000036</td>
                <td>华联控股</td>
                <td>房地产</td>
                <td>1.20(52)</td>
                <td>0.29(123)</td>
                <td>175(14)</td>
              </tr>
              <tr>
                <td>002344</td>
                <td>海宁皮城</td>
                <td>商贸零售</td>
                <td>3.18(22)</td>
                <td>0.22(166)</td>
                <td>188(15)</td>
              </tr>
              <tr>
                <td>601633</td>
                <td>长城汽车</td>
                <td>交运设备</td>
                <td>0.43(181)</td>
                <td>2.22(16)</td>
                <td>197(16)</td>
              </tr>
              <tr>
                <td>600548</td>
                <td>深高速</td>
                <td>交通运输</td>
                <td>0.59(114)</td>
                <td>0.36(97)</td>
                <td>211(17)</td>
              </tr>
              <tr>
                <td>000651</td>
                <td>格力电器</td>
                <td>家电</td>
                <td>0.42(189)</td>
                <td>1.69(24)</td>
                <td>213(18)</td>
              </tr>
              <tr>
                <td>600285</td>
                <td>羚锐制药</td>
                <td>医药生物</td>
                <td>4.81(10)</td>
                <td>0.18(207)</td>
                <td>217(19)</td>
              </tr>
              <tr>
                <td>000417</td>
                <td>合肥百货</td>
                <td>商贸零售</td>
                <td>4.70(12)</td>
                <td>0.18(211)</td>
                <td>223(20)</td>
              </tr>
              <tr>
                <td>600790</td>
                <td>轻纺城</td>
                <td>商贸零售</td>
                <td>0.45(172)</td>
                <td>0.66(56)</td>
                <td>228(21)</td>
              </tr>
              <tr>
                <td>600718</td>
                <td>东软集团</td>
                <td>信息技术</td>
                <td>6.54(4)</td>
                <td>0.17(225)</td>
                <td>229(22)</td>
              </tr>
              <tr>
                <td>600611</td>
                <td>大众交通</td>
                <td>交通运输</td>
                <td>1.98(34)</td>
                <td>0.18(225)</td>
                <td>238(23)</td>
              </tr>
              <tr>
                <td>300498</td>
                <td>温氏股份</td>
                <td>农林牧渔</td>
                <td>0.39(219)</td>
                <td>2.04(20)</td>
                <td>239(24)</td>
              </tr>
              <tr>
                <td>000828</td>
                <td>东莞控股</td>
                <td>交通运输</td>
                <td>0.44(173)</td>
                <td>0.47(72)</td>
                <td>245(25)</td>
              </tr>
              <tr>
                <td>002242</td>
                <td>九阳股份</td>
                <td>家电</td>
                <td>0.52(133)</td>
                <td>0.31(114)</td>
                <td>247(26)</td>
              </tr>
              <tr>
                <td>000501</td>
                <td>鄂武商A</td>
                <td>商贸零售</td>
                <td>0.37(235)</td>
                <td>2.20(17)</td>
                <td>252(27)</td>
              </tr>
              <tr>
                <td>000550</td>
                <td>江铃汽车</td>
                <td>交运设备</td>
                <td>0.56(124)</td>
                <td>0.28(132)</td>
                <td>256(28)</td>
              </tr>
              <tr>
                <td>600694</td>
                <td>大商股份</td>
                <td>商贸零售</td>
                <td>0.47(157)</td>
                <td>0.36(99)</td>
                <td>256(29)</td>
              </tr>
              <tr>
                <td>600674</td>
                <td>川投能源</td>
                <td>公用事业</td>
                <td>0.48(152)</td>
                <td>0.27(139)</td>
                <td>291(30)</td>
              </tr>
            </tbody>
          </table>
       </div>
 </div>
 {% else %}
 <h3>请先登陆</h3>
 {% endif %}
{% endblock %}
