{% extends "base.html" %}

{% block title %}Stocks - Magic Formula Investing{% endblock %}

 {% block page_content %}
 <div class='stocks'>

      <h2 class="page-header">神奇公式股票列表</h2>

      <div class="table table-bordered">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>证券代码</th>
                <th>证券名称</th>
                <th>行业</th>
                <th>上市日期</th>
                <th>好公司</th>
                <th>好价格</th>
                <th>神奇公式排名</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>000858</td>
                <td>五粮液</td>
                <td>饮料制造</td>
                <td>1998-04-27</td>
                <td>33.9(45)</td>
                <td>9(10)</td>
                <td>55(12)</td>
              </tr>
              <tr>
                <td>000858</td>
                <td>五粮液</td>
                <td>饮料制造</td>
                <td>1998-04-27</td>
                <td>33.9(45)</td>
                <td>9(10)</td>
                <td>55(12)</td>
              </tr>
            </tbody>
          </table>
       </div>
 </div>
{% endblock %}
